<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
       "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <context:annotation-config />
   <bean id="sonnet29" class="com.example.Sonnet29" />
   <bean id="duke" class="com.example.PoeticJuggler">
      <constructor-arg value="15" />
      <constructor-arg ref="sonnet29" />
   </bean>
   <bean id="kenny" class="com.example.Instrumentalist">
      <property name="song" value = "Jingle Bells" />
   </bean>
   <bean id="saxophone" class="com.example.Saxophone" />
   <bean id="instrument" class="com.example.Piano" primary="true"/>
   <bean id="kenny2" class="com.example.Instrumentalist" autowire="byType">
      <property name="song" value = "Jingle Bells " />
      <property name="age" value="34" />
   </bean>
   <bean id="hank" class="com.example.OneManBand">
      <property name="instruments">
         <map>
            <entry key="SAXOPHONE" value-ref="saxophone" />
         </map>
      </property>
   </bean>
   <bean id="songSelector" class="com.example.SongSelectior" />
   <bean id="carl" class="com.example.Instrumentalist">
      <property name="city" value="#{cities.?[population gt 100].![name + ', pop = ' + population]}" />
   </bean>

   <util:list id="cities">
      <bean class="com.example.City">
         <property name="name" value="Almaty"/>
         <property name="population" value="200" />
      </bean>
      <bean class="com.example.City">
         <property name="name" value="Astana"/>
         <property name="population" value="100"/>
      </bean>
      <bean class="com.example.City">
         <property name="name" value="Tashkent"/>
         <property name="population" value="300"/>
      </bean>
   </util:list>

</beans>