<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   <bean id="sonnet29" class="com.example.Sonnet29" />
   <bean id="duke" class="com.example.PoeticJuggler">
      <constructor-arg value="15" />
      <constructor-arg ref="sonnet29" />
   </bean>
   <bean id="kenny" class="com.example.Instrumentalist">
           <property name="song" value = "Jingle Bells" />
   </bean>
   <bean id="saxophone" class="com.example.Saxophone" />
   <bean id="kenny2" class="com.example.Instrumentalist">
      <property name="song" value = "Jingle Bells" />
      <property name="instrument" ref="saxophone" />
   </bean>
</beans>